<form class="office-details" action="#">
    <h3>Office Details</h3>
    <input type="text" placeholder="Enter Office Name" [(ngModel)]="selectedOffice.officeName" [ngModelOptions]="{standalone: true}"/>
    <p class="error-message">{{ errorMessage }}</p>
    <button type="button" class="add-office" (click) = "checkIfEmpty()">Save</button>
    <button type="button" [ngClass] = "deleteButtonVisibility?'delete-office':'delete-office-disable'" (click) = "deleteOffice()" >Delete</button>
    <button type="button" class="cancel-button" (click) = "cancelEvent()" >Cancel</button>
</form>