.sidebar{
    margin-top: 20px;
    margin-right: -40px;
    padding-left: 70px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
.sidebar ul{
    margin-top: -5px;
    margin-left: -40px;
}
.sidebar h3{
    font-size: 14px;
    margin-bottom: 20px;
}
.sidebar ul li{
    font-size: 14px;
    list-style: none;
    margin-top: -15px;
}
.sidebar ul li{
    cursor: pointer;
}
