.all-jobTitles{
    padding-left: 10px;
    margin-left: 40px;
    margin-top: 10px;
    border: 1px solid black;
    width: 92.2vw;
    display: flex;
    flex-direction: row;
}
.jobs{
    background: #e3e3e3;
    width: 120px;
    text-align: center;
    padding: 5px 0;
    margin: 10px 20px 10px 0;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}